NVD_API_KEY=your_nvd_key
VIRUSTOTAL_API_KEY=your_vt_key
GITHUB_WEBHOOK_SECRET=test_secret_local
OPENCTI_URL=http://localhost:8080
OPENCTI_TOKEN=c9e8e04b-4a7f-4f3e-8b2d-1234567890ab
INTERNAL_API_KEY=cti_internal_key_2024
